main#videos {
  $root: &;

  video:focus {
    outline: none;
  }
  
  .video-group {
    width: 100%;
    padding: 4vh 0;
    overflow-x: hidden;
    
    &__title {
      width: 100%;
      margin-bottom: 3px;
    }
    
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 10px 5px;
    }  
  }
  
  .video-card {
    $block: ".video-card";

    width: 35vh;
    height: 35vh;
    position: relative;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.2), 0 0 20px 1px rgba(0,0,0,0.19);
    margin-bottom: 50px;
    margin-right: 40px;
    display: inline-block;
    flex-shrink: 0;

    &__thumbnail {
      box-shadow: 1px -4px 5px 1px rgba(0, 0, 0, 0.212), -1px -3px 5px 1px rgba(0, 0, 0, 0.178);
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 60%;
      margin-bottom: 10px;
      background-color: black;  
    }

    &__play-icon {
      display: block;
      position: absolute;
      top: 30%; /*Half of thumbnail's height.*/
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      z-index: 2;
      opacity: .7;
      pointer-events: none;
    }
    
    &__label {
      overflow: hidden;
      max-width: 100%;
        
      p {
        overflow-x: scroll;
        white-space: nowrap;
      }
    }
    
    &.is-play-window {
      position: fixed;
      transition: all 1s linear;
      //transition: Property Duration Timing-function Delay.

      #{$block}__thumbnail {
        transition: all 1s linear .1s;
      }
      
      #{$block}__play-icon {
        display: none;
        //z-index: 2;
        //position: absolute;
      }
      
      #{$block}__label {
        transition: all 1s linear .1s;
      }

      &.is-playing {
        width: 80vw; 
        height: 80vh; 
        left: 10vw;
        top: 10vh;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
        z-index: 5;
        
        #{$block}__thumbnail {
          height: 100%;
          bottom: 0;
          border-radius: 4px;
          box-shadow: none;
        }
        
        #{$block}__label {
          height: 0;
          bottom: 0;
        }
      }
      
      &.is-closing {
        width: 35vh;
        height: 35vh;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px rgba(0,0,0,0.2), 0 0 20px 1px rgba(0,0,0,0.19);
        
        #{$block}__thumbnail {
          height: 50%;
          bottom: 50%;
          border-radius: 10px 10px 0 0;
          box-shadow: 1px -4px 5px 1px rgba(0, 0, 0, 0.212), -1px -3px 5px 1px rgba(0, 0, 0, 0.178);
        }
        
        #{$block}__label {
          height: initial;
          bottom: 10px;
        }
      }
    }
  }

  .close-video {
    -webkit-app-region: no-drag;
    position: fixed;
    bottom: 90vh;
    left: 10vw;
    transition: all 1s ease-in;
    z-index: 5; 
    display: none;
  }  

  .click-blocker {
    opacity: 0;
    display: none;
    z-index: 1;
    transition: opacity 3s linear;
    
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(27, 4, 16);
  }
}