#tabbar {
  position: absolute;
  display: flex;
  bottom: calc(100vh - 80px);
  left: 61px;
  width: calc(100vw - 66px);
  color: rgba(255, 255, 255, 0.226);
  font-size: 1.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  padding-left: 14px;
  
  .tab {
    background-color: transparent;
    padding: 8px 20px 5px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.226);
    border: none;
    
    &.is-current-tab {
      color: rgba(255, 255, 255, 0.8);
      background-color: rgb(40, 40, 40); /*Set background color to allow covering the bottom border.*/
      border: 1px solid rgba(0, 0, 0, 0.6);
      border-bottom: none;
      margin: 0 10px -1px 10px;
    } 
  }
}